*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1312px;
  margin: 0 16px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-height: 42px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 32px;
  background-color: @primary-color;
  color: @basic-white;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 20%);
  transition: .3s;

  &:hover {
    box-shadow: none;
  }
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;

  @media (min-width: 672px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1044px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1392px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: @small) {
  .container {
    margin: 0 24px;
  }

  .cards-list {
    gap: 24px;
  }
}

@media (min-width: @medium) {
  .container {
    margin: 0 32px;
  }
}

@media (min-width: @large) {
  .container {
    margin: 0 40px;
  }

  .cards-list {
    gap: 32px;
  }
}

@media (min-width: @x-large) {
  .container {
    margin: 0 48px;
  }
}

@media (min-width: @x-x-large) {
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1312px;
  }
}

